.user_profile{
  color:white;
}

.user_profile_name{
	cursor:pointer;
}

.user_profile_name:after{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    box-sizing:border-box;
}

.dropdown_menu_center {
    right: auto!important;
    left: 50%!important;
    -webkit-transform: translate(-50%, 0)!important;
    -o-transform: translate(-50%, 0)!important;
    transform: translate(-50%, 0)!important;
}