.TextChatWindow{
	/*margin-right: -15px;*/
	font-size: 15px;
}

.TextChatUsers{
	border-right: 1px solid rgb(229,229,229); 
	overflow-y: auto;
	overflow-x: hidden;
	height: 84vh;
}

.chatWindow_header{
	margin:0 15px; 
}

.chatWindow_header_item{
	text-align:center;
	padding:2%;
	cursor: pointer;
	background-color: rgb(59,108,191);
	color:white;
}

.selected{
	background: rgb(226,230,233);
	color:black;
}

.usersTable_header div{
  background: rgb(236,239,253); 
  color:rgb(170,174,175);
}

