.full_height{
	height:100vh;
}

.NavBarHeader{
	text-align: center;
	margin-bottom: 10px;
}

.navLinkItem{
	font-size: 13px;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center
}

