.full_height{
	height:100vh;
}

.NavBarHeader{
	text-align: center;
	margin-bottom: 10px;
}

.navLinkItem{
	font-size: 13px;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	color:hsla(0,0%,100%,.5);
	border-radius: 10px;
    padding: .5rem;
}

.navLinkItemSelected{
  color:white;
  background: rgb(10,10,10,.1);

}

.nav-link{
	padding:0!important;
}

