.MessagesWindow{
	margin-left: -15px;
	height:calc(100vh - 60px);
}


.MWheader{
	height: 40px;
	box-sizing: border-box;
	border-bottom:2px solid rgb(209,209,209);
	padding:10px;
	font-weight: 600;
}

.MWbody{
	padding:15px; 
	height: calc(100% - 40px - 68px);
	overflow: auto;
	font-size: 15px;
	display: flex;
	flex-direction:column-reverse;
}

.chatMessageText{
	font-size: 15px;
	max-width: 50%;
	padding: 6px 12px 7px;
	border-radius: 1.3em;
	display: inline-block;
}

.chatMessageL, .chatMessageR{
	display: flex;
	flex-direction: column;
	margin: 0 5px;
}

.chatMessageL{
	 align-items: flex-start;
}

.chatMessageR{ 
	align-items: flex-end;
}

.chatMessageL .chatMessageText{
	background-color: #f1f0f0;
}



.chatMessageR .chatMessageText{
	background-color: rgb(0, 153, 255);
	color: white;
}

.message_sender_name{
	font-size: 12px;
	margin:3px;
}

.message_time{
	font-size: 10px;
	margin: auto 8px 0;
	color:rgba(0,0,0,0.5); 
	align-self:center;
}

.MWfooter{
	position: sticky;
	bottom:0;
	border-top:2px solid rgb(209,209,209);
	display: flex;
	margin: 5px;	
}